sudo: true

language: java

jdk:
  - oraclejdk8
  
matrix:
  include:
  - jdk: openjdk6
    env: SKIP_COBERTURA=true
  - jdk: oraclejdk7
    env: SKIP_COBERTURA=true
  - jdk: oraclejdk8
    env: SKIP_COBERTURA=false
    
branches:
  only:
  - master

after_success:
  - if [ $SKIP_COBERTURA == "false" ]; then
      mvn cobertura:cobertura;
      bash <(curl -s https://codecov.io/bash);
    fi
  
after_failure:
  - pwd
  - cat snf4j-core/target/surefire-reports/*.txt
  - cat snf4j-core-slf4j/target/surefire-reports/*.txt