sudo: true

language: java

jdk:
  - oraclejdk8
  
branches:
  only:
  - master

after_success:
  - mvn cobertura:cobertura
  - bash <(curl -s https://codecov.io/bash)
  
after_failure:
  - pwd
  - cat snf4j-core/target/surefire-reports/*.txt
  - cat snf4j-core-slf4j/target/surefire-reports/*.txt